<aside
  id="logo-sidebar"
  class="absolute top-0 left-0 z-40 h-screen w-64 pt-20 transition-transform bg-white border-r"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white">
    <ul class="space-y-2 font-medium">
      <li>
        <a
          href="/dashboard"
          class="flex items-center p-2 text-gray-900 rounded-lg"
        >
          <span class="ms-3">Dashboard</span>
        </a>
      </li>

      <li>
        <a
          href="#"
          id="action-plan"
          class="flex items-center p-2 text-gray-900 rounded-lg"
        >
          <!-- <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
            />
          </svg> -->
          <span class="flex-1 ms-3 whitespace-nowrap">Expenses</span>
          <svg
            id="arrow-icon"
            class="flex-shrink-0 w-4 h-4 text-gray-400 ml-auto group-hover:text-gray-900 dark:group-hover:text-white hidden"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <!-- <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            ></path> -->
          </svg>
        </a>
        <ul id="submenu" class="submenu ml-4 list-disc hidden">
          <li>
            <a
              href="/expense"
              class="block py-2 pl-3 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
              >Add Expense</a
            >
          </li>
          <li>
            <a
              href="/manageexpense"
              class="block py-2 pl-3 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
              >Manage Expenses</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a
          href="#"
          id="plan-action"
          class="flex items-center p-2 text-gray-900 rounded-lg"
        >
          <!-- <svg
            class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 18"
          >
            <path
              d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
            />
          </svg> -->
          <span class="flex-1 ms-3 whitespace-nowrap">Expense Report</span>
          <svg
            id="arrow-icon2"
            class="flex-shrink-0 w-4 h-4 text-gray-400 ml-auto group-hover:text-gray-900 dark:group-hover:text-white hidden"
            aria-hidden="true"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <!-- <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            ></path> -->
          </svg>
        </a>
        <ul id="submenu2" class="submenu2 ml-4 list-disc hidden">
          <li>
            <a
              href="#"
              class="block py-2 pl-3 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
              >Daily</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
              >Weekly</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
              >Monthly</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pl-3 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
              >Yearly</a
            >
          </li>
        </ul>
      </li>

      <li>
        <a href="/categexpense" class="flex items-center p-2 rounded-lg">
          <span class="flex-1 ms-3 whitespace-nowrap">Categories</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
